@charset "UTF-8";
:root {
  --darkBeige: #5d5759;
  --lightBackground: #fff;
  --lightFont: #fff;
  --beige: #e7d3c2;
  --lightFont: #fff;
  --fontOpacity: rgba(231, 211, 194, 0.6);
}

body {
  background-image: url(./img/background.png);
  background-attachment: fixed;
  background-position: center;
  font-family: "Roboto";
}

.body__hotel {
  background-color: #FAF4EF;
}

.container {
  display: flex;
  margin: 30px auto;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  color: rgb(92, 88, 87);
}
.container--light {
  display: flex;
  flex-direction: column;
}
.container--dark {
  margin: auto;
  max-width: 1590px;
  background: var(--beige);
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  width: auto;
  height: auto;
  padding: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
.button--orange {
  margin-right: 0px;
  background-color: #e19683;
  border-radius: 25px;
  border: 5px var(--darkBeige) solid;
  color: var(--lightFont);
  font-family: Raleway;
  font-size: 35px;
}
.button__list {
  margin-right: auto;
  margin-bottom: 30px;
}
.button--dark {
  background-color: #333333;
  border-radius: 25px;
  border: 5px var(--darkBeige) solid;
  color: var(--lightFont);
  font-family: Raleway;
  font-size: 35px;
}

.header {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: auto;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.header__list {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-top: 80px;
  background: #E19683;
}
.header__informations {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  gap: 70px;
}
.header__info {
  text-decoration: none;
  border: 2px #fff double;
  padding: 25px;
  border-radius: 12px;
  background-color: #e7d3c2;
  color: var(--darkBeige);
  font-size: 25px;
  font-family: Raleway;
}
.header__button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -350px;
  margin-right: 100px;
}
.header__tittle, .header__date {
  color: var(--darkBeige);
  font-size: 30px;
  gap: 0;
  margin: auto;
}
.header__date {
  font-size: 40px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero {
  background-color: var(--beige);
}
.hero__navigation {
  display: flex;
  justify-content: space-around;
  justify-items: stretch;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.hero__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: 0px;
  gap: 130px;
}
.hero__link {
  text-decoration: none;
  color: var(--darkBeige);
  font-size: 25px;
  font-family: Raleway;
}

@media screen and (max-width: 756px) {
  .hero__navigation {
    display: none;
  }
}
.about__tittle {
  color: #5D5957;
  font-size: 30px;
}
.about__img {
  width: 500px;
}
.about__dear {
  width: 300px;
}

.hotel {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
}
.hotel__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hotel__tittle {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.hotel__img {
  width: 150px;
  height: auto;
}
.hotel__link {
  text-decoration: none;
  color: #fff;
}
.hotel__map {
  margin-top: 30px;
}

.program {
  font-size: 30px;
  background-color: #FAF4EF;
  box-shadow: 0 0 20px 10px rgba(92, 88, 87, 0.3019607843);
}

.program__tittle {
  font-size: 60px;
}

.program__date {
  font-size: 50px;
}

.program__price {
  font-size: 50px;
}

.program__list {
  font-size: 40px;
}

.program__item {
  font-size: 30px;
}

.program__end {
  margin-bottom: 50px;
}

.agenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.agenda__img {
  max-width: 1600px;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-bottom: 30px;
  gap: 10px;
}

.social__link {
  display: flex;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--lightBackground);
}
.social__link:hover, .social__link:focus {
  fill: var(--lightBackground);
  background-color: var(--beige);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--dark {
  background-color: #e19683;
  fill: var(--lightBackground);
}

.social__icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.social-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(92, 88, 87);
  margin: 0;
}

.social__footer {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin-top: 30px;
}

.send__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lightFont);
  margin-bottom: 20px;
}
.send__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  gap: 12px;
}
.send__input {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px var(--dropShadow));
  border-radius: 4px;
  background-color: var(--colorLight);
  color: var(--colorLight);
}
.send__icon {
  width: 24px;
  height: 24px;
}

.footer {
  display: flex;
  gap: 70px;
  max-width: 1200px;
  font-family: roboto;
}
.footer__address {
  font-size: 20px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgb(92, 88, 87);
  margin: 0px;
}
.footer__logo {
  width: 200px;
  height: auto;
  /**margin-top: -50px;**/
  margin-bottom: 50px;
}
.footer__mail {
  color: rgb(92, 88, 87);
  text-decoration: none;
}
.footer__mail:hover, .footer__mail:focus {
  color: #e19683;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__phone {
  color: rgb(92, 88, 87);
  text-decoration: none;
}
.footer__phone:hover, .footer__phone:focus {
  color: #e19683;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--colorLight);
    margin-top: 10px;
  }
  .mobile-menu__icon {
    width: 24px;
    height: 16px;
  }
  .mobile-menu__button {
    width: 40px;
    height: 40px;
    background-color: var(--colorLight);
    border: none;
    box-shadow: none;
  }
  .mobile-menu__button:hover, .mobile-menu__button:focus {
    fill: var(--blueColor);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colorLight);
  opacity: 1;
  z-index: 2;
}

.mobile__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--colorLight);
  transition: opacity 800ms;
  z-index: 3;
}

.mobile__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: var(--colorLight);
  border: none;
}
.mobile__btn:hover, .mobile__btn:focus {
  fill: var(--blueColor);
  cursor: pointer;
}

.mobile__icon {
  width: 18.67px;
  height: 18.67px;
}

.mobile__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile__navigation {
  display: inline;
}

.mobile__list {
  list-style: none;
  display: flex;
  padding-top: 46px;
  padding-left: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 36px;
}

.mobile__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--colorDark);
}
.mobile__link:hover, .mobile__link:focus {
  color: var(--blueColor);
}

.mobile__contacts {
  display: flex;
  flex-direction: column;
  padding-top: 240px;
}

.mobile__phone {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--blueColor);
}

.mobile__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--colorGrey);
  text-decoration: none;
  padding: 32px 0;
}

.mobile__socials {
  list-style: none;
  padding: 32px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mobile__social {
  padding: 0 10px;
  border-left: 1px solid var(--colorGrey);
}

.mobile__insta-box {
  border: none;
  padding-left: 0px;
}

.mobile__insta,
.mobile__twitter,
.mobile__fb,
.mobile__linkedin {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--blueColor);
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
* {
  box-sizing: border-box;
}

.form {
  margin: 3rem auto;
  font-family: sans-serif;
  max-width: 40rem;
}

.form .form-row {
  margin-bottom: 1rem;
}

.form .form-row:last-child {
  margin-bottom: 0;
}

.form input,
.form textarea {
  font-family: sans-serif;
  padding: 0.8rem;
  border: 1px solid #bbb;
  display: block;
  width: 100%;
  color: #666;
}

.form textarea {
  height: 10rem;
}

.form label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.form .submit-btn {
  font-family: sans-serif;
  padding: 1rem 2rem;
  cursor: pointer;
  background: tomato;
  border: 0;
  border-radius: 0.2rem;
  color: #FFF;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.3s background-color;
}

@media screen and (max-width: 500px) {
  .form .submit-btn {
    display: block;
    width: 100%;
  }
}
/* ---------------------------------------------------- */
/* walidacja formularza JS */
/* ---------------------------------------------------- */
.form input.field-error,
.form textarea.field-error {
  border-color: tomato;
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 99, 71, 0.3);
}

.form-error-text {
  color: tomato;
  font-size: 0.8rem;
  margin-top: 5px;
}

.form-error-inline .form-error-text {
  display: none;
}

/* ---------------------------------------------------- */
/* sukces wysyłania */
/* ---------------------------------------------------- */
.form-send-success,
.form-send-error {
  font-family: sans-serif;
  padding: 3em;
  border: 1px solid #ddd;
}

.form-send-success strong,
.form-send-error strong {
  display: block;
  font-size: 1.5em;
  color: tomato;
  margin-bottom: 0.3em;
}

.loading {
  position: relative;
  pointer-events: none;
  opacity: 0.5;
}

.loading::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%) rotate(0deg);
  content: "";
  animation: rotateSingleLoading 0.3s infinite linear;
  z-index: 10;
}

@keyframes rotateSingleLoading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.form .send-error {
  display: inline-block;
  font-family: sans-serif;
  padding: 1rem 2rem;
  color: red;
}

@media screen and (max-width: 500px) {
  .form .send-error {
    text-align: center;
    display: block;
  }
}
.form-send-success {
  font-family: sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #eee;
  color: #333;
  padding: 10rem 0;
  margin: 3rem auto;
  max-width: 40rem;
}

.form-send-success strong {
  display: block;
  margin-bottom: 0.5rem;
}

.form-send-success span {
  font-size: 1rem;
  color: #888;
  font-weight: normal;
  display: block;
}

.ornament__line {
  height: 6px;
  width: 100%;
  margin-top: -30px;
}

.line {
  margin-top: -10px;
}/*# sourceMappingURL=main.css.map */