:root {
  --darkBeige: #5d5759;
  --lightBackground: #fff;
  --lightFont: #fff;
  --beige: #e7d3c2;
  --lightFont: #fff;
  --fontOpacity: rgba(231, 211, 194, 0.6);
}

body {
  background-image: url(./img/background.png);
  background-attachment: fixed;
  background-position: center;
}

.body__hotel {
  background-color: #FAF4EF;
}

.container {
  display: flex;
  margin: 30px auto;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  color: rgb(92, 88, 87);
}
.container--light {
  display: flex;
  flex-direction: column;
}
.container--dark {
  margin: auto;
  max-width: 1590px;
  background: var(--beige);
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.button {
  width: auto;
  height: auto;
  padding: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}
.button--orange {
  margin-right: 0px;
  background-color: #e19683;
  border-radius: 25px;
  border: 5px var(--darkBeige) solid;
  color: var(--lightFont);
  font-family: Raleway;
  font-size: 35px;
}
.button__list {
  margin-right: auto;
  margin-bottom: 30px;
}
.button--dark {
  background-color: #333333;
  border-radius: 25px;
  border: 5px var(--darkBeige) solid;
  color: var(--lightFont);
  font-family: Raleway;
  font-size: 35px;
}

.header {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: auto;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}
.header__list {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-top: 80px;
  background: #E19683;
}
.header__informations {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  gap: 70px;
}
.header__info {
  text-decoration: none;
  border: 2px #fff double;
  padding: 25px;
  border-radius: 12px;
  background-color: #e7d3c2;
  color: var(--darkBeige);
  font-size: 25px;
  font-family: Raleway;
}
.header__button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -350px;
  margin-right: 100px;
}
.header__tittle, .header__date {
  color: var(--darkBeige);
  font-size: 30px;
  font-weight: bold;
  gap: 0;
  margin: auto;
}
.header__date {
  font-size: 40px;
  font-weight: bolder;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero {
  background-color: var(--beige);
}
.hero__navigation {
  display: flex;
  justify-content: space-around;
  justify-items: stretch;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}
.hero__list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
  margin: 0px;
  gap: 130px;
}
.hero__link {
  text-decoration: none;
  color: var(--darkBeige);
  font-size: 25px;
  font-family: Raleway;
}

.about__tittle {
  color: #5D5957;
  font-size: 30px;
}
.about__img {
  width: 500px;
}
.about__dear {
  width: 300px;
}

.hotel {
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-direction: column;
}
.hotel__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hotel__tittle {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
  text-align: center;
}
.hotel__img {
  width: 150px;
  height: auto;
}
.hotel__link {
  text-decoration: none;
  color: #fff;
}
.hotel__map {
  margin-top: 30px;
}

.program {
  font-size: 30px;
  background-color: #FAF4EF;
  box-shadow: 0 0 20px 10px rgba(92, 88, 87, 0.3019607843);
}

.program__tittle {
  font-size: 60px;
}

.program__date {
  font-size: 50px;
}

.program__price {
  font-size: 50px;
}

.program__list {
  font-size: 40px;
}

.program__item {
  font-size: 30px;
}

.program__end {
  margin-bottom: 50px;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0px;
  padding-bottom: 30px;
  gap: 10px;
}

.social__link {
  display: flex;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--lightBackground);
}
.social__link:hover, .social__link:focus {
  fill: var(--lightBackground);
  background-color: var(--beige);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--dark {
  background-color: #e19683;
  fill: var(--lightBackground);
}

.social__icon {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.social-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(92, 88, 87);
  margin: 0;
}

.social__footer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.send__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--lightFont);
  margin-bottom: 20px;
}
.send__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  gap: 12px;
}
.send__input {
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px var(--dropShadow));
  border-radius: 4px;
  background-color: var(--colorLight);
  color: var(--colorLight);
}
.send__icon {
  width: 24px;
  height: 24px;
}

.footer {
  display: flex;
  gap: 70px;
  max-width: 1200px;
}
.footer__address {
  font-size: 20px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgb(92, 88, 87);
  margin: 0px;
}
.footer__logo {
  width: 250px;
  height: auto;
  margin-top: -50px;
}
.footer__mail {
  color: rgb(92, 88, 87);
  text-decoration: none;
}
.footer__mail:hover, .footer__mail:focus {
  color: #e19683;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__phone {
  color: rgb(92, 88, 87);
  text-decoration: none;
}
.footer__phone:hover, .footer__phone:focus {
  color: #e19683;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ornament__line {
  height: 6px;
  width: 100%;
  margin-top: -30px;
}

.line {
  margin-top: -10px;
}/*# sourceMappingURL=main.css.map */