

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0px auto;
}
.container--dark {
  display: flex;
  justify-content: space-around;
  background-color: --darkBeige;
}


.hero__list{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0px;
    margin: 20px;
    gap: 30px;
    }
