.about{

    &__tittle{
color: #5D5957;
font-size: 30px;
    }

    &__img{
width: 500px;

    }

    &__dear{
        width: 300px;
    }
}

@media screen and (min-width: 320px){

    .about__img{
        display: none;
    }

    .about__dear{
        margin-left: 10%;
       
    }

    .about__tittle{
        padding-left: 45px;
        padding-right: 45px;
        font-size: 20px;
    }



}

@media screen and (min-width: 767px){


    .about__dear{
        margin-left: 25%;
        padding-top: 150px;
    }

    .about__tittle{
        padding-left: 45px;
        padding-right: 45px;
        font-size: 20px;
    }
    .about__img{
        display: block;
    }
}

@media screen and (min-width: 1199px){


.about__dear{
    margin-left: 25%;
    padding-top: 150px;
}

.about__tittle{
    padding-left: 45px;
    padding-right: 45px;
    font-size: 20px;
}
}