.agenda{
display: flex;
flex-direction: raw;
flex-wrap: wrap;
align-items: center;
gap: 10px;
margin: auto;


&__list{
    background-color: #F8F7F6;

}


}

@media screen and (min-width: 320px){

    .agenda{
        font-size: 15px;
        font-weight: bold;

    }

    .agenda__item

    .agenda__img{
        max-width: 300px;
    }

}

@media screen and (max-width: 766px){

    .agenda__img{
    max-width: 765px;
    }

}

@media screen and (min-width: 767px){


    .agenda__img{
        max-width: 1200px;
    }
}