.agenda{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

margin: auto;


}

@media screen and (max-width: 766px){

    .agenda__img{
    max-width: 765px;
    }

}

@media screen and (min-width: 767px){


    .agenda__img{
        max-width: 1200px;
    }
}