.agenda{
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: center;
gap: 10px;
margin: auto;


&__tittle{
  align-items: center;
  align-self: center;

}



&__list{
    background-color: #F8F7F6;


}

&__table,
&__list{
    border: 1px #5c58574d solid;
    text-align: center;
    font-weight: 300;

}

&__day{
    font-weight: bold;
    
}

}

td{
    border: 1px #5c58574d solid;
    padding: 10px;
    background-color: #F8F7F6;
    
}

@media screen and (min-width: 320px){

    .agenda{
        font-size: 15px;
        font-weight: bold;

    }

    .agenda__tittle{
        max-width: 320px;
        }



    .agenda__img{
        max-width: 300px;
    }

}

@media screen and (min-width: 440px){

    .agenda__img{
        max-width: 765px;
        }
    

    .agenda__list{
        font-size: 13px;
    }

}

@media screen and (min-width: 767px){

.agenda{
    font-size: 30px;
}
    .agenda__img{
        max-width: 1200px;
    }

    .agenda__tittle{
        max-width: 500px;
    }
    .agenda__list{
        font-size: 30px;
    }
}