.container {

    display: flex;
    margin: 30px auto;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
color: rgb(92, 88, 87);

&--light {
    display: flex;
flex-direction: column;


}

&--dark{
    background: var(--beige);
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
        }
}

