.footer{
display: flex;
gap:70px;
max-width: 1200px;

    &__address {
    font-size: 20px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgb(92, 88, 87);

    margin: 0px;
}

    &__logo{
        width: 250px;
        height: auto;
        margin-top: -50px;
    }

    &__mail {
        color: rgb(92, 88, 87);
        text-decoration: none;
    }

    &__mail:hover,
    &__mail:focus {
    color: #e19683;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    &__phone {
        color: rgb(92, 88, 87);
        text-decoration: none;
}

    &__phone:hover,
    &__phone:focus {
    color: #e19683;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}