#contactForm {display: none;}



* {
    box-sizing: border-box;
}

.form {
    margin: 3rem auto;
    font-family: sans-serif;
    max-width: 40rem;
}

.form .form-row {
    margin-bottom: 1rem;
}

.form .form-row:last-child {
    margin-bottom: 0;
}

.form input,
.form textarea {
    font-family: sans-serif;
    padding: 0.8rem;
    border: 1px solid #bbb;
    display: block;
    width: 100%;
    color: #666;
}

.form textarea {
    height: 10rem;
}

.form label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.form .submit-btn {
    font-family: sans-serif;
    padding: 1rem 2rem;
    cursor: pointer;
    background: tomato;
    border: 0;
    border-radius: 0.2rem;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s background-color;
}

@media screen and (min-width: 480px) {
    .form .submit-btn {
        display: block;
        width: 100%;
    }
}

     #form {display: block !important;}


/* ---------------------------------------------------- */
/* walidacja formularza JS */
/* ---------------------------------------------------- */
.form input.field-error,
.form textarea.field-error {
    border-color: tomato;
    outline: none;
    box-shadow: 0 0 0 2px rgba(255,99,71, 0.3);
}
.form-error-text {
    color: tomato;
    font-size: 0.8rem;
    margin-top: 5px;
}
.form-error-inline .form-error-text {
    display: none;
}


/* ---------------------------------------------------- */
/* sukces wysyłania */
/* ---------------------------------------------------- */
.form-send-success,
.form-send-error {
    font-family: sans-serif;
    padding: 3em;
    border: 1px solid #ddd;
}

.form-send-success strong,
.form-send-error strong {
    display: block;
    font-size: 1.5em;
    color: tomato;
    margin-bottom: 0.3em;
}





.loading {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}

.loading::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:"";
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 10;
}

@keyframes rotateSingleLoading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.form .send-error {
    display:inline-block;
    font-family: sans-serif;
    padding:1rem 2rem;
    color:red;
}

@media screen and (max-width:480px) {
    .form .send-error {
        text-align:center;
        display: block;
    }
}

.form-send-success {
    font-family: sans-serif;
    text-align:center;
    font-size:2rem;
    font-weight:bold;
    border:1px solid #eee;
    color:#333;
    padding:10rem 0;
    margin:3rem auto;
    max-width:40rem;
}

.form-send-success strong {
    display:block;
    margin-bottom:0.5rem;
}

.form-send-success span {
    font-size:1rem;
    color:#888;
    font-weight:normal;
    display: block;
}  

     #contactForm {display: none;}
    
 
    
