.header{
flex-direction: column;
display: flex;
justify-content: center;


    &__logo{
        width: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    &__list{
        display: flex;
        justify-content: center;
margin-top: 80px;
padding-top: 80px;
padding-bottom: 80px;

background: #E19683;
    }

    &__informations{
    display: flex;
    list-style-type: none;
    justify-content: center;
        padding: 0;
        gap: 70px;
    }

    &__info{
        text-decoration: none;
            border: 2px #fff double;
            padding: 25px;
                border-radius: 12px;
                background-color: #e7d3c2;
        color: var(--darkBeige);
        font-size: 25px;
        font-family: Raleway;
    }
}