.header{
flex-direction: column;
display: flex;
justify-content: center;


    &__logo{
        width: auto;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    &__list{
        display: flex;
        justify-content: center;
margin-top: 100px;
padding-top: 80px;
background: #E19683;
    }

    &__informations{
    display: flex;
    list-style-type: none;
    justify-content: center;
        padding: 0;
        gap: 70px;
    }

    &__info{
        text-decoration: none;
            border: 2px #fff double;
            padding: 25px;
                border-radius: 12px;
                background-color: #e7d3c2;
        color: var(--darkBeige);
        font-size: 25px;
        font-family: Raleway;
    }

    &__button{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        margin-top: -350px;
        margin-right: 100px;
    }

    &__tittle,
    &__date{
        color: var(--darkBeige);
        font-size: 30px;
        font-weight: bold;
        gap: 0;
        margin: auto;
    }

    &__date{
        font-size: 40px;
        font-weight: bolder;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}