.ornament{
    &__line{
        height: 6px; 
        width: 100%;
position: absolute;
top: 50px
    }

    &__orange{
        height: 6px; 
        width: 100%;
position: relative;
top: 15px
    }
}



@media screen and (max-width: 767px){

    .ornament__line{
        display: none;
    }
}