.program{
    font-size: 30px;
    background-color: #FAF4EF;
    box-shadow: 0 0 20px 10px #5c58574d;
    
    &__tittle{
font-size: 60px;
    }

    &__date{
font-size: 50px;
    }

    &__time{

    }

    &__place{

    }

    &__prices{

    }

    &__price{
font-size: 50px;
    }

    &__list{
font-size: 40px;
    }

    &__item{
font-size: 30px;
    }

    &__end{
        margin-bottom: 50px;
    }
}